:root {
  --Abel: Abel, cursive;
  --Anton: Anton, cursive;
  --Josefin: Josefin, cursive;
  --opacity: 0.9;
}

.art1-headline {
  margin-left: 1.5rem;
}

.art-2-img {
  width: 90%;
  height: 30%;
  margin-left: 1.3rem;
  border-radius: 2rem;
  margin-top: 1.3rem;
}

.art-one-paragraph {
  padding: 1rem;
}

* {
  font-family: var(--Josefin);
}
.art1-img {
  width: 90%;
  height: 30%;
  margin-left: 1.3rem;
  border-radius: 2rem;
  margin-top: 1.3rem;
}

.article-one {
  margin-top: 1.2rem;
  margin-left: 2rem;
  border-style: double;
  border-color: blue;
  width: 30%;
  height: 65vh;
  border-radius: 2rem;
  background-color: blue;
  opacity: var(--opacity);
}

.articles {
  display: flex;
}

.btn-art-one {
  width: 80%;
  height: 5vh;
  border-radius: 0.8rem;
  background-color: red;
  margin-left: 2rem;
}

a {
  text-decoration: none;
}

.btn-art-one :hover {
  background-color: beige;
}
